#/*---                                                           3209712199 807 .inputrc  ---*/
#/*---                                                                                    ---*/
#/*---                                                                                    ---*/
#/*---                                           Created: Feb 10 14:49:41 2023 by pducos  ---*/
#/*---                                           Updated: Feb 10 14:49:41 2023 by pducos  ---*/

#cat .zsh_history | cut -c 16- > .bash_history

$if Bash
	"\e[A": history-search-backward
	"\e[B": history-search-forward
	"\C-n": forward-word  
	"\C-b": backward-word

	set history-size 10000
	set colored-stats on
	set completion-ignore-case on
	set show-all-if-ambiguous on
	set visible-stats on

	"\C-p": "\C-e| less"
$endif